body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.section-container {
  height: 100vh;
  margin: 10px;
}

.set-container {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 7px;
  height: 100%;
}

.players-container {
  color: $color-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 90px;
  flex: 1;
}

.player-one-container {
  background-color: $color-navy-blue;
}

.player-one {
  display: block;
  font-size: 20px;
  margin: 30px 0 20px 0;
  font-size: $font-size-small;
}

.player-global-score {
  font-size: 60px;
}

.score-container {
  background-color: $color-white;
  color: $color-black;
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.player-two-container {
  background-color: $color-violet-blue;
}

.player-two {
  display: block;
  font-size: 20px;
  margin: 30px 0 20px 0;
  font-size: $font-size-small;
}

.dice {
  position: absolute;
  top: 36%;
  width: 100px;
}

.roll {
  position: absolute;
  bottom: 40%;
  color: $color-white;
  font-size: $font-size-medium;
}

.save-score {
  position: absolute;
  bottom: 8%;
  color: $color-white;
  font-size: $font-size-medium;
}

.new-game {
  position: absolute;
  bottom: 2%;
  color: $color-white;
  font-size: $font-size-small;
}

.rules-game-container {
  background-color: $color-navy-blue;
  color: $color-white;
  font-size: 20px;
  text-align: justify;
  padding: 40px 40px 17px 40px;
}

.button-go-to-play {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 800px) {
  .save-score {
    bottom: 19%;
  }

  .new-game {
    bottom: 7%;
  }

  .dice {
    width: 170px;
    top: 27%;
  }

  .player-global-score {
    font-size: 75px;
  }
}
