body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.section-container {
  height: 100vh;
  margin: 10px;
}

.set-container {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 7px;
  height: 100%;
}

.players-container {
  color: $color-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 180px;
  flex: 1;
}

.player-one-container {
  background-color: $color-navy-blue;
}

.player-one {
  display: block;
  margin: 30px 0 20px 0;
  font-size: $font-size-small;
}

.player-global-score {
  font-size: 60px;
}

.score-container {
  background-color: $color-white;
  color: $color-black;
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
}

.player-two-container {
  background-color: $color-violet-blue;
}

.player-two {
  display: block;
  margin: 30px 0 20px 0;
  font-size: $font-size-small;
}

.dice {
  position: absolute;
  top: 33%;
  width: 145px;
}

.roll {
  position: absolute;
  bottom: 46%;
  color: $color-white;
  font-size: $font-size-medium;
}

.save-score {
  position: absolute;
  bottom: 14%;
  color: $color-white;
  font-size: $font-size-medium;
}

.new-game {
  position: absolute;
  bottom: 4%;
  color: $color-white;
  font-size: $font-size-small;
}

.rules-game-container {
  background-color: $color-navy-blue;
  color: $color-white;
  font-size: 20px;
  text-align: justify;
  padding: 40px 40px 17px 40px;
}

.button-go-to-play {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 800px) {
  .save-score {
    bottom: 170px;
  }

  .score-container {
    height: 90px;
    width: 110px;
    font-weight: 700;
  }

  .new-game {
    bottom: 7%;
  }

  .dice {
    width: 170px;
    top: 27%;
  }

  .player-global-score {
    font-size: 75px;
  }

  .players-container {
    padding-bottom: 140px;
  }
}

@media (min-width: 1200px) {
  .dice {
    width: 210px;
  }

  .score-container {
    height: 110px;
    width: 150px;
  }

  .save-score {
    font-size: $font-size-large;
  }

  .player-one {
    font-size: $font-size-medium;
  }

  .player-two {
    font-size: $font-size-medium;
  }
}